body
{
	background-color : aqua;
}

.A
{
	width: 800px;
	height: 500px;
	margin: 0 auto;
	background-color: white;
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 10px solid blue;
	box-shadow: 100px 50px 15px black;
}

.A h1
{
	font-family: itallic;
	background-color: black;
	font-size: 60px;
	text-align: center;
	color: white;
	padding: 2px 0px;
	border-radius: 50px;
}

.A #question
{
	font-family: itallic;
	font-size: 30px;
	color: green;
}

.buttons 
{
	margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3
{
	background-color: lightgreen;
	width: 250px;
	font-size : 20px;
	color: red;
	border: 2px solid black;
	border-radius: 50px;
	margin: 10px 40px 10px 0px;
	padding: 10px 10px;
}

#progress 
{
   color: blue;
   font-size: 20px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover
{
	cursor: pointer;
	background-color: black;

}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus
{
	outline : 0;
}

#score
{
	color: blue;
	text-align: center;
	font-size: 70px;
}